<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Room</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <p>Create Room</p>

    <div id="main">
      <form id="create" method="POST" action='#'>
        <p>Room Name:</p>
        <input type="text" id="room_name">
        <p>Room Title:</p>
        <input type="text" id="room_title">
        <div id="question_table">
          <table class="question_table">
            <thead>
              <tr>
                <td><strong>Question</strong></td>
                <td><strong>Answer</strong></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(row, index) in rows">
                <td><input id="question" type="text" v-model="row.Question"></td>
                <td><input id="answer" type="text" v-model="row.Answer"></td>
                <td><a @click="removeRow(index)">Remove</a></td>
              </tr>
            </tbody>
          </table>
          <div>
            <button type="button" class="button btn-primary" @click="addRow">Add row</button>
          </div>
        </div>

        <input type="submit" value="Create Room">
      </form>
    </div>
    
    <script type='text/javascript' src="createroom.js"></script>
  </body>

</html>
