<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Learn2Hacks</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <p>Learn2Hacks</p>
  <div id="main">

    <button type="button">Create a Room</button>
    <p> or </p>

    <p> Join a Room </p>
    <div id="user-name">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
    <div id="room-name">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <button type="button">Join a Room</button>
    <br>
  </div>
  </head>
</body>
</html>
<script type='text/javascript' src="splash.js"></script>
