<!DOCTYPE HTML>
<html>

<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript" charset="utf-8">

    $(document).ready(function() {
        // Use a "/test" namespace.
        // An application can open a connection on multiple namespaces, and
        // Socket.IO will multiplex all those connections on a single
        // physical channel. If you don't care about multiple channels, you
        // can set the namespace to an empty string.
        var namespace = '/test';

        // Connect to the Socket.IO server.
        // The connection URL has the following format:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('redirect', function (data) {
            window.location = data.url;
        });
        setInterval(updateLeaderboard, 1000);

    })

    function updateLeaderboard() {
        $.ajax({
              url: "/leaderboarddata/{{data.room | safe}}",
              type: "get",
              success: function(response) {
                console.log('ajax success')
                console.log(response);
                $("#leaderboard_stats").text(JSON.stringify(response));
              },
              error: function(xhr) {
                console.log("ERROR")
                //Do Something to handle error
              }
            });
    }

    </script>
</head>


<body>

<h2>LEADERBOARD</h2>

<div id="leaderboard_stats">


</div>


</body>
</html>